name: Build, Test, and Push Docker Image

on:
  push:
    branches:
      - deployement-automnation

jobs:
  docker:
    runs-on: [self-hosted, linux]
    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          registry: registry.lilian-daurat.com
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install Docker Compose
         run: |
           sudo apt-get update
           sudo apt-get install -y docker-compose

      - name: Docker Compose Up
        run: |
          docker compose up

          
      #     build -t registry.lilian-daurat.com/cours/r5-08-front:${{ github.sha }} -t registry.lilian-daurat.com/cours/r5-08-front:latest .

      # - name: Push Docker image
      #   run: |
      #     # Pousser les deux tags
      #     docker push registry.lilian-daurat.com/cours/r5-08-front:${{ github.sha }}
      #     docker push registry.lilian-daurat.com/cours/r5-08-front:latest